@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    --dark-greyish-blue: hsl(217, 19%, 35%);
    --dark-blue: hsl(214, 17%, 51%);
    ---greyish-blue: hsl(212, 23%, 69%);
    --light-greyish-blue: hsl(210, 46%, 95%);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Manrope", sans-serif;
    font-size: 13px;
    background-color: var(--light-greyish-blue);
    height: 100vh;
    align-content: center;
}

.card{
    max-width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 3.3fr;
    border-radius: 10px;
    background-color: white;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.05);
}

.image{
    width: 100%;
    background-image: url(images/drawers.jpg);
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.content{
    padding: 2rem 3rem;
}

.content h1{
    color: var(--dark-greyish-blue);
    font-size: 1.7em;
    margin-bottom: 1rem;
}

.content p{
    color: var(--dark-blue);
    font-size: 1.1em;
}

.profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    z-index: 1;
}

.profile .avatar{
    border-radius: 50%;
    width: 2.5rem;
}

.profile p{
    font-size: 1em;
    line-height: 1;
}

.profile .name{
    font-weight: 700;
    color: var(--dark-greyish-blue);
    margin-bottom: 0.5rem;
}

.profile .date{
    color: var(---greyish-blue);
}

.profile .icon{
    background-color: var(--light-greyish-blue);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    text-align: center;
    margin-left: auto;
    z-index: 3;
    cursor: pointer;
}

.icon svg{
    margin: 0.5rem;
    fill: #6E8098;
}

.icon:hover{
    background-color: var(--dark-greyish-blue);
}

.icon:hover svg{
    fill: white;
}

.icon.bg-color{
    background-color: var(--dark-greyish-blue);
}

.icon.icon.bg-color svg{
    fill: white;
}

.pop-up{
    background-color: var(--dark-greyish-blue);
    border-radius: 10px;
    padding: 1rem 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 50%;
    left: 62.6%;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.05);
    display: none;
}

.pop-up.open{
    animation: popup 1s;
}

.pop-up.close{
    animation: popdown 1s;
}

.pop-up p{
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(---greyish-blue);
    font-size: 12px;
}

.pop-up::after{
    content: "";
    position: absolute;
    bottom: -18px;
    left: calc(50% - 10px);
    border-top: 10px solid var(--dark-greyish-blue);
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.icon:hover{
    background-color: var(--dark-greyish-blue);
}


.attribution{ 
    font-size: 11px; 
    text-align: center; 
}

.attribution a{ 
    color: hsl(228, 45%, 44%); 
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}


@media (max-width: 380px){
    .card{
        max-width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 2.1fr 3fr;
        top: 0;
        left: 0;
        transform: none;
        position: relative;
        margin: 3rem 2rem;
    }

    .image{
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }

    .content{
        padding: 2rem;
        padding-bottom: 1rem;
    }

    .content h1{
        font-size: 1.2em;
    }

    .content p{
        font-size: 1em;
    }

    .profile{
        margin-top: 2rem;
    }

    .profile p{
        font-size: 0.95em;
    }

    .pop-up{
        border-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        left: 0;
        top: calc(490.95px - 52px - 16px);
        width: 100%;
        justify-content: flex-start;
        padding: 0 2rem;
        height: 68px;
    }

    .pop-up::after{
        border: none;
    }

    .pop-up.open{
        animation: popupMob 0.5s;
        transform-origin: 100% 50%;
    }

    .pop-up.close{
        animation: popdownMob 0.5s;
        transform-origin: 100% 50%;
    }

    .icon.bg-color{
        background-color: var(--dark-blue);
    }

    .icon.bg-color svg{
        fill: white;
    }

    footer{
        position: relative;
    }
}

@keyframes popup{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

@keyframes popdown{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0);
    }
}

@keyframes popupMob{
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}

@keyframes popdownMob{
    from{
        transform: scaleX(1);
    }
    to{
        transform: scaleX(0);
    }
}